body {
    background: #a6f0db;
    min-height: 100vh;
}

.pages {
    min-height: 100%;
}

.page {
    height: 100%;
    width: 100%;
    display: none;
}

.page:first-child {
    display: block;
}

#santoli15 {
    margin: 30;
    border: solid blue 1px;
    background: antiquewhite;
    width: 404px;
    height: 404px;
    display: flex;
    flex-wrap: wrap;
    padding: 2px;
}

#santoli15 .square {
    margin: 1px;
    border-radius: 3px;
    background: white;
    width: 97px;
    height: 97px;
    text-align: center;
    font: 32px bold;
}

#santoli15 .square img {
    width: 100%;
    height: 100%;
    border-radius: 3px;
}

#santoli15 .void {
    background: antiquewhite;
    border: solid 1px antiquewhite;
}

#santoli15 .win {
    position: absolute;
    margin: auto;
    z-index: -5;
    width: 398px;
    height: 398px;
    background-image: url("immagini/15/Santoli.jpeg");
}

#francescoContainer {
    margin: 10px auto;
    background-color: antiquewhite;
    height: 500px;
    width: 500px;
    cursor: move;
}

#francescoEvil {
    height: 40px;
    width: 40px;
    border-radius: 20px;
    background-color: red;
    position: relative;
    top: 230px;
    left: 230px;
    transition: 200ms linear;
}

#francescoTryLeftBox {
    color: red;
    width: 500px;
    margin: 20px auto;
}

#francescoLevelUpContainer {
    width: 500px;
    height: 20px;
    margin: 10px auto;
}

#francescoLevelUp {
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: purple;
}


/*inizio foglio stile Luca Moro*/

#lucatabella {
    width: 100%;
    border: 4px solid black;
    border-collapse: collapse;
}

#lucath {
    font-size: x-large;
    text-align: center;
}

#lucatd {
    border: 2px dotted black;
    text-align: center;
}

#lucah1 {
    text-align: center;
}

.lucaform {
    border: 4px solid black;
    border-collapse: collapse;
    margin-top: 10px;
    width: 220px;
}

.lucaform input {
    margin: 5px 5px 5px 5px;
}

#lucauser {
    width: 65px;
}

#lucaid {
    width: 50px;
}

.lucah1 {
    text-align: center;
}

.lucah5 {
    text-align: center;
}


/*fine foglio stile Luca Moro*/


/* foglio CSS Sefora */

.title_sef {
    font-family: 'Chicle';
    color: black;
    text-align: center;
    margin-top: 20px;
}

#form_sef {
    font-family: 'Baloo Tammudu';
}

.radius {
    border-radius: 200px;
}

#Sefora {
    background-image: url("immagini/ImgSef/bg.jpg");
    background-size: auto;
    background-repeat: no-repeat;
    background-size: cover;
}

#alessandro_root {
    height: 883px;
    width: 100%;
    background: url(immagini/img_ale/wall.jpg);
    background-repeat: no-repeat;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#alessandro_h1 {
    text-align: center;
    color: white;
}

#alessandro_h2diff {
    text-align: center;
    color: white;
}

#alessandro_h2 {
    text-align: center;
    display: none;
    color: white;
}

#alessandro_img {
    display: none;
}

#alessandro_start {
    position: relative;
    bottom: -129px;
    left: 900px;
    height: 100px;
    width: 100px;
    border: solid 2px white;
    font-weight: bold;
    color: white;
    border-radius: 15px;
    background: #8E1A23;
    display: none;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    cursor: url(immagini/img_ale/alessandro_hand.png), auto
}

#alessandro_facile {
    position: relative;
    bottom: -80px;
    left: 500px;
    height: 100px;
    width: 150px;
    border: solid 2px white;
    font-weight: bold;
    color: white;
    border-radius: 15px;
    background: #8E1A23;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    cursor: url(immagini/img_ale/alessandro_hand.png), auto;
}

#alessandro_facile {
    position: relative;
    bottom: -80px;
    left: 500px;
    height: 100px;
    width: 150px;
    border: solid 2px white;
    font-weight: bold;
    color: white;
    border-radius: 15px;
    background: #8E1A23;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    cursor: url(immagini/img_ale/alessandro_hand.png), auto;
}

#alessandro_media {
    position: relative;
    bottom: 24px;
    left: 875px;
    height: 100px;
    width: 150px;
    border: solid 2px white;
    font-weight: bold;
    color: white;
    border-radius: 15px;
    background: #8E1A23;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    cursor: url(immagini/img_ale/alessandro_hand.png), auto;
}

#alessandro_difficile {
    position: relative;
    bottom: 128px;
    left: 1240px;
    height: 100px;
    width: 150px;
    border: solid 2px white;
    font-weight: bold;
    color: white;
    border-radius: 15px;
    background: #8E1A23;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    cursor: url(immagini/img_ale/alessandro_hand.png), auto;
}

#alessandro_positivo {
    position: relative;
    display: none;
    bottom: 100px;
    left: 50px;
    height: 100px;
    width: 250px;
    border: solid 2px white;
    font-weight: bold;
    color: lightgreen;
    border-radius: 15px;
    background: #8E1A23;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

#alessandro_negativo {
    position: relative;
    display: none;
    bottom: 50px;
    left: 50px;
    height: 100px;
    width: 250px;
    border: solid 2px white;
    font-weight: bold;
    color: lightsalmon;
    border-radius: 15px;
    background: #8E1A23;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

#alessandro_restart {
    position: relative;
    bottom: -630px;
    left: 875px;
    height: 100px;
    width: 150px;
    border: solid 2px white;
    font-weight: bold;
    color: white;
    border-radius: 15px;
    background: #8E1A23;
    display: none;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    cursor: url(immagini/img_ale/alessandro_hand.png), auto;
}

#alessandro_restartvid {
    border: white solid 2px;
    position: relative;
    left: 480px;
    bottom: -180px;
    display: none;
}