body {
    background: #a6f0db;
    min-height: 100vh;
}

.pages {
    min-height: 100%;
}

.page {
    height: 100%;
    width: 100%;
    display: none;
}

.page:first-child {
    display: block;
}

#santoli15 {
    margin: 30;
    border: solid blue 1px;
    background: antiquewhite;
    width: 404px;
    height: 404px;
    display: flex;
    flex-wrap: wrap;
    padding: 2px;
}

#santoli15 .square {
    margin: 1px;
    border-radius: 3px;
    background: white;
    width: 97px;
    height: 97px;
    text-align: center;
    font: 32px bold;
}

#santoli15 .square img {
    width: 100%;
    height: 100%;
    border-radius: 3px;
}

#santoli15 .void {
    background: antiquewhite;
    border: solid 1px antiquewhite;
}

#santoli15 .win {
    position: absolute;
    margin: auto;
    z-index: -5;
    width: 398px;
    height: 398px;
    background-image: url("immagini/15/Santoli.jpeg");
}


/* INIZIO CSS FRANCESCO*/

#Francesco {
    background: black;
    height: 100vh;
    color: #bbb;
}

#Francesco .temp {
    display: none;
}

#Francesco h1 {
    color: #bbb;
    text-align: center;
}

#francescoContainer {
    margin: 0px 10px;
    background-color: antiquewhite;
    height: 500px;
    width: 500px;
    cursor: url(immagini/francesco/ghost30.png), move;
   /* box-shadow: beige 12px 12px;*/
}

#francescoEvil {
    height: 40px;
    width: 40px;
    border-radius: 20px;
    background-image: url(immagini/francesco/pac40.png);
    position: relative;
    top: 230px;
    left: 230px;
}

#francescoTryLeftBox {
    width: 500px;
    margin: 20px auto;
}


#francescoGameBox{
    display: flex;
    flex-direction: row;
    width: max-content;
    margin: auto;


}


#francescoVite{

    display: flex;
    flex-direction: column;
    width:50px;
    height: 500px;
    align-content: flex-start;

}

#francescoVite img {
    margin: 0px auto 5px;
background-color: #bbb;
border-radius: 4px;
padding: 2px
}

#francescoLevelUpContainer {
    width: 50px;
    height: 500px;
    margin: 0px 10px;
}

#francescoLevelUp {
    width: 20px;
    height: 100%;
    margin: 0 auto;
    background-image: linear-gradient( violet, indigo, blue, green, yellow, orange, red);
}


/* FINE CSS FRANCESCO*/


/*inizio foglio stile Luca Moro*/

#lucacontainer {
    position: absolute;
    margin-left: 100px;
}

#lucatabella, #lucatab2 {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 14px;
    border-radius: 10px;
    border-spacing: 0;
    text-align: center;
    float: left;
}

#lucatabella {
    float: left;
    margin-right: 10px;
}

#lucaSposta {
    float: left;
    margin-top: 20px;
}

#lucaEs1, #lucaEs2, #lucaEs3 {
    float: left;
}

#lucaEs2, #lucaEs3 {
    margin-top: 20px;
}

.lucah4, #labelM, #lucah1 {
    text-align: center;
}

#lucath {
    background: #BCEBDD;
    color: black;
    text-shadow: 0 1px 1px #2D2020;
    padding: 10px 20px;
}

#lucatabella th, #lucatabella td, #lucatab2 th, #lucatab2 td {
    border-style: solid;
    border-width: 0 1px 1px 0;
    border-color: white;
}

#lucatabella th:first-child, #lucatabella td:first-child, #lucatab2 th:first-child, #lucatab2 td:first-child {
    text-align: left;
}

#lucatabella th:first-child, #lucatab2 th:first-child {
    border-top-left-radius: 10px;
}

#lucatabella th:last-child, #lucatab2 th:last-child {
    border-top-right-radius: 10px;
    border-right: none;
}

#lucatabella td, #lucatab2 td {
    padding: 10px 20px;
    background: #F8E391;
}

#lucatabella tr:last-child td:first-child, #lucatab2 tr:last-child td:first-child {
    border-radius: 0 0 0 10px;
}

#lucatabella tr:last-child td:last-child, #lucatab2 tr:last-child td:last-child {
    border-radius: 0 0 10px 0;
}

#lucatabella tr, #lucatab2 tr, #lucatabella td:last-child, #lucatab2 td:last-child {
    border-right: none;
}

#lucatabella tr:hover {
    cursor: pointer;
}

#lucacontenitore1, #lucacontenitore2 {
    float: left;
    margin-bottom: 5px;
}

#lucacontenitore2 {
    margin-top: 20px;
}

.lucaFiltro {
    float: left;
    border: 2px solid #BCEBDD;
    border-radius: 17px;
    background: #F8E391;
    color: black;
    text-shadow: 0 1px 1px #2D2020;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

#lucailmioinput, #lucailmioinput2 {
    float: left;
    width: 300px;
    border-radius: 10px;
    padding-bottom: 5px;
    padding-right: 5px;
}

.luca {
    float: left;
    border: 2px solid #BCEBDD;
    border-radius: 17px;
    background: #F8E391;
    color: black;
    text-shadow: 0 1px 1px #2D2020;
    margin-top: 10px;
    padding-bottom: 5px;
    margin-bottom: 10px;
    padding-right: 5px;
}

#lucaetà {
    width: 80px;
}

#lucatab2 {
    float: left;
    margin-top: 10px;
}

#lucaTop {
    margin-top: 15px;
}

#lucanome, #lucacognome, #lucaetà, #lucaaggiungi, #lucauser, #lucaid, #lucabody, #lucatitle, #lucaaggiungi2, #lucaTop {
    border-radius: 10px;
}

#lucauser, #lucaid {
    width: 80px;
}

/*fine foglio stile Luca Moro*/


/* foglio CSS Sefora */

.title_sef {
    font-family: 'Chicle';
    color: black;
    text-align: center;
    margin-top: 20px;
}

#form_sef {
    font-family: 'Baloo Tammudu';
}

.radius {
    border-radius: 200px;
}

#Sefora {
    background-image: url("immagini/ImgSef/bg.jpg");
    background-size: 90%;
    background-repeat: no-repeat;
    background-color: rgba(255, 255, 255, 0.4);
    background-blend-mode: lighten;
    background-size: cover;
}

#eyeshow {
    float: right;
}

.margin_left {
    margin-left: 10px;
}

.margin_right {
    margin-right: 10px;
}

.margin_top {
    margin-top: 90px;
}

.signature {
    font-family: 'Allura', cursive;
    font-weight: bolder;
    float: right;
}


/*fine foglio Css Sefora*/

#alessandro_root {
    min-height: 862px;
    width: auto;
    background-image: url(immagini/img_ale/wall.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#alessandro_h1 {
    text-align: center;
    color: white;
}

#alessandro_h2diff {
    text-align: center;
    color: white;
}

#alessandro_h2 {
    text-align: center;
    display: none;
    color: white;
}

#alessandro_img {
    display: none;
}

#alessandro_start {
    position: absolute;
    bottom: 72%;
    left: 47%;
    height: 100px;
    width: 100px;
    border: solid 2px white;
    font-weight: bold;
    color: white;
    border-radius: 15px;
    background: #8E1A23;
    display: none;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    cursor: url(immagini/img_ale/alessandro_hand.png), auto
}

#alessandro_facile {
    position: absolute;
    bottom: auto;
    left: 30%;
    height: 100px;
    width: 150px;
    border: solid 2px white;
    font-weight: bold;
    color: white;
    border-radius: 15px;
    background: #8E1A23;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    cursor: url(immagini/img_ale/alessandro_hand.png), auto;
}

#alessandro_media {
    position: absolute;
    bottom: auto;
    left: 45%;
    height: 100px;
    width: 150px;
    border: solid 2px white;
    font-weight: bold;
    color: white;
    border-radius: 15px;
    background: #8E1A23;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    cursor: url(immagini/img_ale/alessandro_hand.png), auto;
}

#alessandro_difficile {
    position: absolute;
    bottom: auto;
    left: 60%;
    height: 100px;
    width: 150px;
    border: solid 2px white;
    font-weight: bold;
    color: white;
    border-radius: 15px;
    background: #8E1A23;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    cursor: url(immagini/img_ale/alessandro_hand.png), auto;
}

#alessandro_positivo {
    position: absolute;
    display: none;
    bottom: 55%;
    left: 5%;
    height: 100px;
    width: 250px;
    border: solid 2px white;
    font-weight: bold;
    color: lightgreen;
    border-radius: 15px;
    background: #8E1A23;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

#alessandro_negativo {
    position: absolute;
    display: none;
    bottom: 40%;
    left: 5%;
    height: 100px;
    width: 250px;
    border: solid 2px white;
    font-weight: bold;
    color: lightsalmon;
    border-radius: 15px;
    background: #8E1A23;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

#alessandro_restart {
    position: absolute;
    bottom: 70%;
    left: 45%;
    height: 100px;
    width: 150px;
    border: solid 2px white;
    font-weight: bold;
    color: white;
    border-radius: 15px;
    background: #8E1A23;
    display: none;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    cursor: url(immagini/img_ale/alessandro_hand.png), auto;
}

#alessandro_restartvid {
    border: white solid 2px;
    position: absolute;
    left: 25%;
    bottom: 15%;
    display: none;
}

#Stefania {
    background-image: url("immagini/stefania/sfondo.jpg");
    background-size: auto;
    background-repeat: no-repeat;
    background-size: cover;
}

.titoloSte {
    font-family: 'Parisienne';
    font-size: 50px;
    font-weight: normal;
    color: black;
}

#calcolatrice_ste {
    width: 325px;
    height: 500px;
    padding: 10px;
    border-radius: 20px;
    background-color: #ff3399;
    background-image: url("immagini/stefania/monogram-668685_1920.png");
    background-position: center;
    background-size: cover;
    border-color: black;
    top: 25px;
    left: 32px;
    font-family: 'Caveat';
    margin: 10px;
}

.tasto_ste {
    color: black;
    background-color: violet;
    width: 130px;
    height: 60px;
    border-radius: 50px;
    border-color: violet;
    font-size: 40px;
    margin: 5px;
    text-align: center;
    line-height: 55px;
    float: left;
    margin-left: 9px;
    font-family: 'Caveat';
}

.display_ste {
    /*background: none;*/
    color: #000;
    margin: 4px 2px;
    width: 300px;
    border-radius: 10px;
    border-color: b#ff3399;
    text-align: right;
    font-size: 40px;
    background-color: pink;
    height: 80px;
    font-family: 'Caveat';
}

.uguale_ste {
    width: 208px;
    font-family: 'Caveat';
}

.prima_ste {
    color: black;
    background-color: lightpink;
    width: 60px;
    height: 60px;
    border-radius: 50px;
    border-color: lightpink;
    text-align: center;
    line-height: 55px;
    font-size: 40px;
    float: left;
    margin: 5px;
    margin-left: 9px;
    font-family: 'Caveat';
}

.operatore_ste {
    color: white;
    background-color: purple;
    width: 60px;
    height: 60px;
    border-radius: 50px;
    border-color: purple;
    text-align: center;
    line-height: 55px;
    font-size: 40px;
    float: left;
    margin: 5px;
    margin-left: 9px;
    font-family: 'Caveat';
}

.secondo_ste {
    color: black;
    background-color: violet;
    width: 60px;
    height: 60px;
    border-radius: 50px;
    border-color: violet;
    font-size: 40px;
    margin: 5px;
    text-align: center;
    line-height: 55px;
    float: left;
    margin-left: 9px;
    font-family: 'Caveat';
}

#label_ste {
    font-family: 'Parisienne';
    font-size: 26px;
    color: black;
    font-weight: bold;
}

#colore_label_ste {
    display: none;
}

#colore_ste {
    width: 70px;
    height: 40px;
}


/* foglio CSS Christian */

.c_div_normali {
    margin-left: 30%;
    margin-bottom: 1%;
}

#chris_h1 {
    text-align: center;
    margin-right: 10%;
    color: royalblue;
}

#c_button_reset {
    margin-left: 30%;
}


/* Fine foglio CSS Christian */


/******************STYLE ALESSIO******************/

#headerAlessio {
    text-align: center;
}

#containerAlessio {
    background-image: url(legno.jpg);
}

#labelAlessio {
    padding-top: 20px;
    margin-left: 35px;
    font-weight: bold;
}

#filtroAlessio {
    margin-left: 25px;
}

#cardAlessio {
    float: left;
    text-align: center;
    margin-left: 50px;
}

#btnAlessio {
    width: 125px;
    height: 25px;
}

#imgAlessio {
    padding: 25px;
    width: 250px;
    height: 325px;
}


/*********************FINE*********************/


/* foglio di stile Natascia*/

.natascia_body {
    background-color: darkkhaki;
}

.natascia_box {
    background-color: darkseagreen;
    background-image: url(immagini/natascia_img/img_tree.png), url(immagini/natascia_img/img_tree.png);
    background-repeat: no-repeat, no-repeat;
    background-position: top left, bottom right;
    margin: 0 auto;
    width: 60%;
    height: 950px;
    border: 6px solid gray;
    text-align: center;
}

.natascia_divfoto {
    border: 4px solid gold;
    display: block;
    margin-top: 220px;
    margin-right: 200px;
    margin-bottom: 10px;
    margin-left: 200px;
}

.natascia_foto {
    display: block;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
}

.natascia_bottone {
    border-style: none;
    background-color: #E87E04;
    color: white;
    margin: 2px;
    padding: 5px 8px 5px 8px;
    font-size: 15px;
    cursor: pointer;
    border-radius: 5px;
    bottom: 20px;
}

.natascia_bottone:hover {
    background-color: white;
    color: #E87E04;
    transition: 1s all;
    border: solid 1px #E87E04;
}

.natascia_frase {
    height: 50px;
    width: 450px;
    margin: 20px;
    text-align: center;
    margin-top: 70px;
    padding: 10px;
    font-style: italic;
    font-size: 20px;
    font-weight: bold;
}

.natascia_h1 {
    color: red;
    font-size: 40px;
    font-family: fantasy;
    text-align: center;
}

.natascia_titolo {
    color: rgb(14, 46, 105);
    font-size: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    margin: 0;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 40%;
    left: 50%
}

.natascia_sfondo_rosa {
    color: rgb(62, 96, 158);
    background-color: pink;
    text-decoration: underline;
    font-style: normal;
}

.natascia_konrad {
    color: rgb(14, 46, 105);
    font-style: normal;
}


/* fine foglio di stile Natascia*/


/* INIZIO ALBERTO CSS */

#albyCarousel {
    max-width: 100%;
    height: 95vh;
    background-color: #000;
}


/* Alby immagini */

#albyMiniature {
    position: absolute;
    top: 130px;
    left: 30px;
    background-color: #000;
}

#albyMiniature ul li {
    list-style-type: none;
    text-decoration: none;
}

.albyPiccole {
    max-width: 50px;
    max-height: 80px;
    opacity: 0.8;
    border: 2px solid white;
    margin: 5px;
}

#albyImmagini {
    box-sizing: border-box;
}

#albyGrandi {
    max-width: 690px;
    max-height: 395px;
    border: 2px solid white;
    margin: 20px;
    position: absolute;
    top: 75px;
    left: 150px;
}


/* Alby pulsanti */

#albyPulsanti ul li {
    position: relative;
    top: 450px;
    left: 175px;
    margin: 5px;
    text-decoration: none;
    display: inline-block;
    list-style: none;
}

#albyIndietro {
    padding-top: 5px;
}

#albyPausa {
    padding-top: 3px;
}

#albyAvanti {
    padding-top: 1px;
}


/* Alby testo */

#albyTesto {
    color: white;
    position: absolute;
    top: 80px;
    left: 505px;
}

#albyTesto h2 {
    font-size: 75px;
    margin: 0px;
    font-family: sans-serif;
}

#albyTesto p {
    font-size: 18px;
    text-align: center;
    padding-top: 0px;
    font-family: serif;
}


/* FINE ALBERTO CSS */


/*INIZIO CAROLINA*/

#cont {
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(immagini/C/sfondo.jpg) no-repeat fixed;
    background-size: 100% 100%;
    padding-top: 10px;
    box-sizing: content-box;
}

#board {
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 8px;
    margin: auto;
    width: 500px;
    height: 500px;
    border: solid 1px black;
    background: url(immagini/C/smoke.jpg) no-repeat;
    box-sizing: content-box;
}

#screen {
    background: black;
    position: absolute;
    margin: auto;
    width: 670px;
    height: 590px;
    padding: 10px;
    left: 0;
    right: 0;
    box-sizing: content-box;
}

.screenIMG {
    margin: auto;
    margin-top: 120px;
    margin-left: 100px;
    left: 0;
    right: 0;
    box-sizing: content-box;
}

.div_cell {
    border: solid 2px transparent;
    text-align: center;
    width: 120px;
    height: 120px;
    margin: auto;
    box-sizing: content-box;
}

#down_bar {
    margin: auto;
    margin-top: 15px;
    width: 500px;
    height: 50px;
    box-sizing: content-box;
}

.buttonRefresh {
    width: 100px;
    height: 50px;
    margin-left: 190px;
    background: #a30a0a;
    border-radius: 30px 30px 30px 30px;
    color: white;
    box-sizing: content-box;
}

#youwin {
    position: relative;
    box-sizing: content-box;
}

.victory {
    position: absolute;
    width: 600px;
    height: 200px;
    margin: auto;
    padding: 120px;
    left: 0;
    right: 0;
    box-sizing: content-box;
}

/*FINE CAROLINA*/

/*-------------------------- inizio codice Violetta ------------------*/
.vbh1{
    font-family: comic sans ms, Verdana;
    color: blue;
}
.vbh2{
    font-family: comic sans ms, Verdana;
    color: blue; 
}
.vbtestofiltro{
    font-family: Verdana;
    color: blue;
    border-radius: 5px;
    border-color: blue;
    border-width: 2px;
 /*   font-weight: bold;*/
}
.vbcontainer {
    text-align: center;	
}
.vbcontenitore {
    text-align: center;
    margin: 0 auto; 
    margin-left: 400px;
}
.vbcontenitore2 {
    text-align: center;
    margin: 0 auto; 
    margin-left: 470px;
}
.vbtable{
    padding: 10px;
    border-style: solid;
    border-color:blue;
    border-width: 5px;
    border-radius: 15px;
    border-spacing: 10px;
    border-collapse: separate;
}  
.vbtablecaption{
    font-family: Verdana;
    font-style: normal;
    font-weight: bold;
    color: blue;
}
.vbtableth{
    background-color:blue;
    color: white;
    padding:10px;
    border-radius: 5px;
    border-color: white;
    border-width: 1px;
    font-family: Verdana;
    font-style: normal;
    font-weight: bold;
}
.vbtabletd{
    color: blue;
    padding:10px;
    border-style: solid;
    border-color:blue;
    border-radius: 5px;
    border-width: 1px;
    border-spacing: 3px;
    border-collapse: separate;
}
.vbtablebutton{
    background-color:white;
    color: blue;
    border-radius: 5px;
    border-color: blue;
    border-width: 2px;
    font-family: Verdana;
    font-style: normal;
    font-weight: bold;
    padding: 2px 4px 2px 4px; 
}
.vbmessaggio{
    display: none;
    color: fuchsia;
    font-family: Verdana;
    font-style: italic;
    font-weight: bold;

    /*border-radius: 5px;
    border-color: blue;
    border-width: 2px;
    border-style: solid;
    font-style: normal;
    background-color:white;*/
}
/*-------------------------- fine codice Violetta --------------------*/

/*---------------------------Inizio condice Consuelo------------------------*/

.consuTitle{
    font-size: 45px;
    text-decoration:none;
    text-align: center;
    word-spacing: 10px; 
    letter-spacing: 10px;
    background-color: aliceblue;
    margin-top: 25px;
    border: 1px solid black;
}

/*---------------------------Fine condice Consuelo------------------------*/
